<footer class="l-footer">

<div class ="l-grid l-grid-wrapper">
    <div class="l-grid__item-4">
      <p class="t-footer-text"><span class="cc-logo--foot">&copy; ARKENEA. All rights reserved.</span></p>
    </div>
    <div class="l-grid__item-4">
      <p style="text-align: right;" class="t-footer-text">Designer - Prashant Dwivedi | MADE WITH <span class="t-footer-icon">&hearts;</span> IN INDIA</p>
    </div>
</div>

</footer>

