<section class="s-portfolio-layout">
	<h2 class="t-portfolio-title">OUR SUCCES STORIES</h2>
	<div class="l-grid-wrapper l-grid">

		<figure class="l-grid__item-3">
			<img src="static/Files/images/laptop1.png">
			<figcaption>
				<p class="t-caption-text">Suspendisse scelerisque, erat laoreet volutpat euismod, sed rutrum justo ipsum a est. Maecenas finibus sapien eget est posuere gravida.</p>
				<button class="c-btn">Continue reading...</button>
			</figcaption>
		</figure>
		<figure class="l-grid__item-3">
			<img src="static/Files/images/people.png">
			<figcaption>
				<p class="t-caption-text">Suspendisse scelerisque, erat laoreet volutpat euismod, sed rutrum justo ipsum a est. Maecenas finibus sapien eget est posuere gravida.</p>
				<button class="c-btn">Continue reading...</button>
			</figcaption>
		</figure>
		<figure class="l-grid__item-3">
			<img src="static/Files/images/laptop2.png">
			<figcaption>
				<p class="t-caption-text">Suspendisse scelerisque, erat laoreet volutpat euismod, sed rutrum justo ipsum a est. Maecenas finibus sapien eget est posuere gravida.</p>
				<button class="c-btn">Continue reading...</button>
			</figcaption>
		</figure>

	</div>


</section>



