<section class="s-contact-layout">
	<h2 class="t-contact-title">TELL US ABOUT YOUR REQUIREMENT</h2>


	<div class="l-grid-wrapper l-grid">
		

		<form class="l-grid__item-4 l-grid-wrapper l-grid f-contact-layout">
		<h4 class="l-grid__item-12">CONTACT US</h4>
		<input value="" id="name" class="l-grid__item-5 f-field" type="placeholder" name="name" placeholder="*Name">
		<input value="" id="email" class="l-grid__item-5 f-field" type="placeholder" name="email" placeholder="*Your Email Adress">
		<textarea value="" id="message" placeholder="*Your Message" cols="4" rows="8" class="f-field l-grid__item-12" name="message"></textarea> 	
		<button class="c-btn l-grid__item-5" type="submit">Submit</button>
		</form>

		<div class="l-grid__item-6 l-grid-wrapper l-grid">
			<ul class="l-contact-list">
				<li>ADRESS</li>
				<li>ARKANEA LLC 47 S 2ND ST #32. SAN JOSE. CA 96124, USA</li>
				<li>PHONE</li>
				<li>(456)123-673</li>
				<li>EMAIL</li>
				<li>CONTACT@ARKENEA.COM</li>
			</ul>
		</div>
	</div>


</section>



