
<header class="l-header">

	<nav class="c-nav" id="myNav">
	    <div class="l-inner">
	        <span class="c-logo c-logo--main">ARKANEA</span>
	    </div>

	    <ul class="c-actions-list">
	    	<li><a href="#">PORTFOLIO</a></li>
	    	<li><a href="#">ABOUT</a></li>
	    	<li><a href="#">PRICING</a></li>
	 	  	<li><a href="#">CAREERS</a></li>
	 	  	<li><a href="#">BLOG</a></li>   
	  	  	<li><a href="#">GET A QUOTE</a></li>   	  				
	    </ul>
	</nav>

	<div class="l-header-title">
		<h1 class="t-header-title">TECHNICAL COFOUNDER TO YOUR MOBILE &amp; WEB STARTUP</h1>
		<p class="t-header-subtitle">To build a succesful app, you need a smart product strategy and a talented mobile development team.<br>
		<span class="t-bold">GOOD NEWS</span> - You've come to the right place.</p>
		<form>
		<input id="newsletter" value="" class="f-field f-field--email" placeholder="*Your email adress" name="email" >
		<button class="c-btn" type="submit">Request a Quote</button>
		</form>
	</div>


</header>
