<section class="s-carrousel-layout">

<div class="my-slider" id="autoplay">
  <div class="slick-slide l-carrousel-item">
	<p class="t-quote-text">Nullam quis euismod est, vitae faucibus quam. Phasellus placerat aliquam lectus vitae ultrices. Nam condimentum mauris et tellus suscipit posuere.</p>
		<p class="t-quote-author"><span class="t-bold">Hypnotherapist and Best Selling Author</span><br> - GLENN HARROLD</p>
  </div>
  <div class="slick-slide l-carrousel-item">
	<p class="t-quote-text">Nullam quis euismod est, vitae faucibus quam. Phasellus placerat aliquam lectus vitae ultrices. Nam condimentum mauris et tellus suscipit posuere.</p>
		<p class="t-quote-author"><span class="t-bold">Hypnotherapist and Best Selling Author</span><br> - TOMAS FRUHSTUCK</p>
  </div>
  <div class="l-carrousel-item">
	<p class="t-quote-text">Nullam quis euismod est, vitae faucibus quam. Phasellus placerat aliquam lectus vitae ultrices. Nam condimentum mauris et tellus suscipit posuere.</p>
		<p class="t-quote-author"><span class="t-bold">Hypnotherapist and Best Selling Author</span><br> - SIMON GERVAIS</p>
  </div>


</div>



</section>



