
 .f-field--email {
 	width: 40%;
 	padding: 16px;
 	display: inline;
 	margin-right: 12px;
 	color: $color-gray;

 	border-radius: 4px;
 	border: none;
 }


 @media(max-width: 460px) {
 	 .f-field--email {
 	width: 80%;
 	margin-bottom: $gutter;
 }
 }