.f-contact-layout {
	flex-wrap: wrap;
	justify-content: space-between;
	vertical-align: middle;
	align-content: space-around;
	flex-flow: row-wrap;

	input,textarea,button {
		margin: 12px;
		margin-left: 0;
		padding: 12px;
		display: block;
		border: none;
		border-radius: 2px;
	}

	h4 {
		font-size: 1.5rem;

	}


}

@media (max-width: 1335px) {
	.f-contact-layout {
		input,textarea, button {
			font-size: $gutter*0.5;
		}
	}
}

@media (max-width: 1035px) {
	.f-contact-layout {
		width: 100%;
	}
}
