.l-grid-wrapper {
    flex-flow: row;
    margin:auto $gutter*10;
    justify-content: space-between;
    flex-wrap: wrap;
}


.l-grid {
    @extend %display-flex;
    @extend %align-items-stretch;
    @extend %justify-content-flex-start;
    @extend %flex-wrap-wrap;
}

@for $i from 1 through 12 {
    .l-grid__item-#{$i} {
        margin: 0;
        width: 100% / 12 * $i;
    }
}


@each $name, $value in $breakpoints {
    @include media("<=#{$name}") {
        @for $i from 1 through 12 {
            .l-grid__item-#{$i}\@#{$name} {
                width: 100% / 12 * $i;
            }
        }
    }
}

@media (max-width: 1335px) {
    .l-grid__item-3 {
        width: 70%;
        margin: $gutter*2 auto;
        img {
            width: 100%;
            margin: auto;
        }
    }
}

@media (max-width: 1035px) {



    .l-grid__item-6 {

        .l-contact-list {
            margin: 0;
            padding: 0;
            text-align: left;
        }
    }
}

@media(max-width: 860px) {

    .l-grid-wrapper {
        margin: auto $gutter*2;

    .l-grid__item-6 {

        width: 100%;

    }

    }


}
