
/* Base
   ========================================================================== */
html {
    font-size: 62.5%; /* 10px */
}

body {
    min-width: 320px;

    font-family: $font_normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4;

    color: $color_black;

    display: flex;
}

/* Global Typography
   ========================================================================== */

a {
    text-decoration: none;

    color: $color_black;

    transition: opacity $transition_speed ease-in-out, color $transition_speed ease-in-out;

    &:hover {
        text-decoration: none;

        @include media(">t") {
            color: $color_black;
        }
    }
}

/* Header 
    =========================================================================== */

.t-header-title {
    margin: 0 auto;

    color: $color-white;
    font-family: $font_normal_bold;
    font-size: 5rem;
}

.t-header-subtitle {
    color: $color-white;

    font-weight: 200;
    font-family: $font_normal;
    font-size: 2rem;

    width: 60%;
}

.t-bold {
    font-weight: 700;
}

.t-portfolio-title {
    font-size: $gutter*1.5;
    margin-top: $gutter*4;
    margin-left: $gutter*10;
}

.t-portfolio-title::after {
    content:'';
    display:block;
    width:3%; height:100%;
    margin-top: 2rem;
    margin-right:-100%;
    border-bottom:1px solid #000;
}

.t-caption-text {

    color: $color-gray;
    font-size: $gutter;
}

.t-quote-text {

    text-align: center;
    color: $color-white;

}

.t-quote-author {

    font-weight: bold;
    text-align: center;
    color: $color-white;
    
}

.t-contact-title {
    margin-top: $gutter*6;

    text-align: center;    
    color: $color-gray;

}

.t-footer-text {
    text-align: right;
    color: $color-white;
}

.t-footer-icon {
    color: $color-pink;
}

@media (max-width: 1035px) {
    .t-footer-text {
        font-size: $gutter*0.5;
    }
}

@media (max-width: 860px) {

    .t-footer-text {
        text-align: left;
    }
}


@media (max-width: 560px) {

    .t-header-title {

    font-size: 2.5rem;
}

.t-header-subtitle {

    font-size: 1rem;

}

}