
.l-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;

    overflow: visible;

    width: 100%;

    background: $color_white;
}

.l-header__inner {
    @extend %display-flex;
    @extend %align-items-center;
    @extend %justify-content-space-between;

    height: 90px;
}

/* States
   ========================================================================== */

.l-header {
    &.is-nav-developed {
        .c-nav--main {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
}