.l-news {
    position: relative;

    min-height: 400px;
    padding-bottom: 130px;

    background: #bfdeac;
    background: linear-gradient(to bottom, #bfdeac 0%, #81bf87 100%);

    &__inner {
        position: relative;
        z-index: 20;
    }

    &__head {
        margin-bottom: 50px;
    }

    &__foot {
        margin-top: 0;

        text-align: center;
    }

    .c-el--i5 {
        position: absolute;
        top: -133px;
        left: -60px;

        z-index: 0;
    }

    &:after {
        content: '';

        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 81px;

        background: url("../img/default/bg-news-list-2.png") no-repeat 50% 0;
    }

    &:before {
        width: 2800px;
        content: "";
        display: block;
        height: 190px;
        position: absolute;
        top: -85px;
        left: 50%;
        transform: translateX(-50%) skewY(-6deg);
        background-color: $color_white;
        z-index: 2;
    }
}