.c-contact-box {
    @extend %helper-clear-margins;

    position: relative;

    margin-bottom: 15px;
    padding-left: 40px;

    font-style: normal;

    &:before {
        position: absolute;
        top: 2px;
        left: 0;

        content: '';

        background-size: cover;
    }

    p {
        margin: 0;
    }

    &--envelope {
        &:before {
            width: 24px;
            height: 18px;

            background-image: url("../img/default/ico-envelope.png");
        }
    }

    &--phone {
        &:before {
            width: 23px;
            height: 25px;

            background-image: url("../img/default/ico-phone.png");
        }
    }

    &--address {
        &:before {
            width: 18px;
            height: 27px;

            background-image: url("../img/default/ico-marker.png");
        }
    }
}
