.c-el {
    position: relative;
    z-index: 20;

    background-size: cover;
    background-repeat: no-repeat;

    &--i1 {
        width: 411px;
        height: 514px;

        background-image: url("../img/default/el-1.png");
    }

    &--i2 {
        width: 262px;
        height: 445px;

        background-image: url("../img/default/el-2.png");
    }

    &--i3 {
        width: 362px;
        height: 426px;

        background-image: url("../img/default/el-3.png");
    }

    &--i4 {
        width: 508px;
        height: 417px;

        background-image: url("../img/default/el-4.png");
    }

    &--i5 {
        width: 406px;
        height: 307px;

        background-image: url("../img/default/el-dino.png");
    }

    &--i6 {
        width: 753px;
        height: 590px;

        background-image: url("../img/default/el-lion.png");
    }
}