.c-logotypes {
    @extend %helper-reset-list;
}

.c-logotypes {
    &--alt {
        @extend %display-flex;
        @extend %align-items-center;
        @extend %justify-content-center;
        @extend %flex-wrap-wrap;

        width: 100%;

        margin-bottom: -40px;

        .c-logotypes__item {
            width: (100 / 3) * 1%;

            margin-bottom: 40px;

            .o-image {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.c-logotypes {
    &--primary {
        @extend %display-flex;
        @extend %align-items-flex-start;
        @extend %justify-content-flex-start;
        @extend %flex-wrap-wrap;

        width: 100%;

        margin-left: -3px;
        margin-right: -3px;

        margin-top: 35px;

        .c-logotypes__item {
            padding: 0 3px;
        }
    }
}