.c-nav {
    &--main {
        &__list {
            @extend %helper-reset-list;
            @extend %display-flex;
            @extend %align-items-center;
            @extend %justify-content-flex-start;
        }

        &__item {
            margin-left: 80px;
        }

        &__item.is-active .c-nav--main__label,
        &__item:hover .c-nav--main__label {
            color: $color_red;
        }

        &__label {
            font-size: 2rem;

            color: $color_gray;
        }
    }
}
